<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Sport Events</title>
</head>
<body>
<div th:each="event: ${events}">
    <h3 th:text="${event.title}"></h3>
    <p th:text="${event.sport.name}"></p>
    <p th:text="${event.description}"></p>
    <th:block sec:authorize="isAuthenticated()">
        <p th:text="${event.location}"></p>
        <th:block th:switch="${event.date.substring(5,7)}">
            <span th:case="01" th:text="${'JAN' + '-' + event.date.substring(8,10) + '-' + event.date.substring(0,4)}" class="card-text">Date: </span>
            <span th:case="02" th:text="${'FEB' + '-' + event.date.substring(8,10) + '-' + event.date.substring(0,4)}" class="card-text">Date: </span>
            <span th:case="03" th:text="${'MAR' + '-' + event.date.substring(8,10) + '-' + event.date.substring(0,4)}" class="card-text">Date: </span>
            <span th:case="04" th:text="${'APR' + '-' + event.date.substring(8,10) + '-' + event.date.substring(0,4)}" class="card-text">Date: </span>
            <span th:case="05" th:text="${'MAY' + '-' + event.date.substring(8,10) + '-' + event.date.substring(0,4)}" class="card-text">Date: </span>
            <span th:case="06" th:text="${'JUN' + '-' + event.date.substring(8,10) + '-' + event.date.substring(0,4)}" class="card-text">Date: </span>
            <span th:case="07" th:text="${'JUL' + '-' + event.date.substring(8,10) + '-' + event.date.substring(0,4)}" class="card-text">Date: </span>
            <span th:case="08" th:text="${'AUG' + '-' + event.date.substring(8,10) + '-' + event.date.substring(0,4)}" class="card-text">Date: </span>
            <span th:case="09" th:text="${'SEP' + '-' + event.date.substring(8,10) + '-' + event.date.substring(0,4)}" class="card-text">Date: </span>
            <span th:case="10" th:text="${'OCT' + '-' + event.date.substring(8,10) + '-' + event.date.substring(0,4)}" class="card-text">Date: </span>
            <span th:case="11" th:text="${'NOV' + '-' + event.date.substring(8,10) + '-' + event.date.substring(0,4)}" class="card-text">Date: </span>
            <span th:case="12" th:text="${'DEC' + '-' + event.date.substring(8,10) + '-' + event.date.substring(0,4)}" class="card-text">Date: </span>
        </th:block>
        <th:block th:switch="${event.startTime.substring(0,2)}">
            <span th:case="00" th:text="${'12:' + event.startTime.substring(3,5) + ' AM'}" class="card-text">Time: </span>
            <span th:case="01" th:text="${'1:' + event.startTime.substring(3,5) + ' AM'}" class="card-text">Time: </span>
            <span th:case="02" th:text="${'2:' + event.startTime.substring(3,5) + ' AM'}" class="card-text">Time: </span>
            <span th:case="03" th:text="${'3:' + event.startTime.substring(3,5) + ' AM'}" class="card-text">Time: </span>
            <span th:case="04" th:text="${'4:' + event.startTime.substring(3,5) + ' AM'}" class="card-text">Time: </span>
            <span th:case="05" th:text="${'5:' + event.startTime.substring(3,5) + ' AM'}" class="card-text">Time: </span>
            <span th:case="06" th:text="${'6:' + event.startTime.substring(3,5) + ' AM'}" class="card-text">Time: </span>
            <span th:case="07" th:text="${'7:' + event.startTime.substring(3,5) + ' AM'}" class="card-text">Time: </span>
            <span th:case="08" th:text="${'8:' + event.startTime.substring(3,5) + ' AM'}" class="card-text">Time: </span>
            <span th:case="09" th:text="${'9:' + event.startTime.substring(3,5) + ' AM'}" class="card-text">Time: </span>
            <span th:case="10" th:text="${'10:' + event.startTime.substring(3,5) + ' AM'}" class="card-text">Time: </span>
            <span th:case="11" th:text="${'11:' + event.startTime.substring(3,5) + ' AM'}" class="card-text">Time: </span>
            <span th:case="12" th:text="${'12:' + event.startTime.substring(3,5) + ' PM'}" class="card-text">Time: </span>
            <span th:case="13" th:text="${'1:' + event.startTime.substring(3,5) + ' PM'}" class="card-text">Time: </span>
            <span th:case="14" th:text="${'2:' + event.startTime.substring(3,5) + ' PM'}" class="card-text">Time: </span>
            <span th:case="15" th:text="${'3:' + event.startTime.substring(3,5) + ' PM'}" class="card-text">Time: </span>
            <span th:case="16" th:text="${'4:' + event.startTime.substring(3,5) + ' PM'}" class="card-text">Time: </span>
            <span th:case="17" th:text="${'5:' + event.startTime.substring(3,5) + ' PM'}" class="card-text">Time: </span>
            <span th:case="18" th:text="${'6:' + event.startTime.substring(3,5) + ' PM'}" class="card-text">Time: </span>
            <span th:case="19" th:text="${'7:' + event.startTime.substring(3,5) + ' PM'}" class="card-text">Time: </span>
            <span th:case="20" th:text="${'8:' + event.startTime.substring(3,5) + ' PM'}" class="card-text">Time: </span>
            <span th:case="21" th:text="${'9:' + event.startTime.substring(3,5) + ' PM'}" class="card-text">Time: </span>
            <span th:case="22" th:text="${'10:' + event.startTime.substring(3,5) + ' PM'}" class="card-text">Time: </span>
            <span th:case="23" th:text="${'11:' + event.startTime.substring(3,5) + ' PM'}" class="card-text">Time: </span>
        </th:block>
        <a th:href="@{/event/{id} (id = ${event.id})}" type="button" role="button">View</a>
    </th:block>
</div>
</body>
</html>