<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/partials :: head('Player Profile')">
</head>
<nav th:replace="fragments/partials :: navbar"/>


<body class="create-body">
<div class="create-title">
    <div class="create-container head1">
        <h1>Create An Event</h1>
    </div>
</div>
<form th:action="@{/event/create}" th:method="post" th:object="${event}" class="create-register-form">
    <div class="create-register-container">
        <div class="create-title-label">
            <div class="create-title-div">
                <label for="title">Title</label>
                <div class="create-email-input">
                    <span class="lock-icon"></span>
                    <input id="title" name="title" type="text" placeholder="Name of the Event" class="create-input-form"
                           th:field="*{title}">
                </div>
                <hr>
            </div>
            <div class="create-title-div">
                <label for="location">Location</label>
                <div class="create-email-input">
                    <span class="lock-icon"></span>
                    <input id="location" type="text"  placeholder="Where will you play?" class="create-input-form" th:field="*{location}">
                </div>
                <hr>
            </div>
        </div>
        <div class="create-username-label">
            <div class="create-sport-box">
                <label for="sport">Sport</label>
                <div class="create-email-input">
                   <span class="create-checkbox">
                    <input id="contact" name="remember" type="checkbox" class="create-checkbox-form">
                     <label for="contact" class="create-label-check">Contact</label>
                </span>
                    <select name="sport" id="sport" th:field="*{sport}" class="create-select">
                        <option th:each="sport: ${sports}" th:text="${sport.name}" th:value="${sport.id}"></option>
                    </select>
                </div>
                <hr>
            </div>
            <div class="create-time-box">
                <label for="date">Time Slot</label>
                <div class="create-time-input">
                    <div class="create-date">
                        <label>Date:</label>
                        <input id="date" name="date" type="date" th:field="*{date}">
                    </div>
                    <div class="create-time-slot">
                        <div class="create-start-time">
                            <label class="create-time-title" for="start-time"></label>
                            <input id="start-time" name="title" type="time" class="create-input-form"
                                   th:field="*{startTime}">
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="create-description-label">
            <label for="description">Description</label>
            <div class="create-description-input">
                <span>
                </span>
                <input id="description" type="text" placeholder="Describe the event"
                       class="create-description-form" th:field="*{description}">
            </div>
        </div>
    </div>
    <div class="create-ready-btn-container">
        <button class="create-ready-btn" th:value="${event.id}"> Ready Up</button>
    </div>
</form>
</body>
</html>