<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=BhuTuka+Expanded+One&family=Montserrat:wght@100&display=swap"
          rel="stylesheet">
    <script th:src="@{https://code.jquery.com/jquery-3.4.1.slim.min.js}" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js}" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://static.filestackapi.com/v3/filestack.js"></script>
    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
    <link rel="stylesheet" href="" th:href="@{../css/eventCreate.css}">
    <script src="https://kit.fontawesome.com/0304cf4152.js" crossorigin="anonymous"></script>
</head>

<div class="title">
    <div class="container head1">
        <h1>Create An</h1>
        <div class="sub-title">
            <h2>Event</h2>
        </div>
    </div>
</div>
<form th:action="@{/event/create}" th:method="post" th:object="${event}" class="register-form">
    <div class="register-container">
        <div class="title-label">
            <label for="title">Title</label>
            <div class="email-input">
                <span class="lock-icon"></span>
                <input id="title" name="title" type="text" placeholder="Name of the Event" class="input-form"
                       th:field="*{title}">
            </div>
            <hr>
        </div>
        <div class="username-label">
            <div class="sport-box">
                <label for="sport">Sport</label>
                <div class="email-input">
                   <span class="checkbox">
                    <input id="contact" name="remember" type="checkbox" class="checkbox-form">
                     <label for="contact" class="label-check">Contact</label>
                </span>
                    <select name="sport" id="sport" th:field="*{sport}">
                        <option th:each="sport: ${sports}" th:text="${sport.name}" th:value="${sport.id}"></option>
                    </select>
                </div>
                <hr>
            </div>
            <div class="time-box">
                <label for="date">Time Slot</label>
                <div class="time-input">
                    <div class="date">
                        <label>Date:</label>
                        <input id="date" name="date" type="date" th:field="*{date}">
                    </div>
                    <div class="time-slot">
                        <div class="start-time">
                            <label class="time-title" for="start-time">Start</label>
                            <input id="start-time" name="title" type="time" class="input-form"
                                   th:field="*{startTime}">
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="description-label">
            <label for="description">Description</label>
            <div class="description-input">
                <span>
                </span>
                <input id="description" type="text" placeholder="Describe the event"
                       class="description-form" th:field="*{description}">
            </div>
        </div>
    </div>
    <div class="upload-container">
        <div class="location-input">
            <label for="location">Address : </label>
            <input id="location" type="text" class="location-select" th:field="*{location}">
        </div>
        <div class="black-trans-bg" style="height: 100vh">
            <div id="inline" class="card sand-bg offset-1 col-10 mt-5 p-5">
                <div id="image">
                    <label for="fileupload">Select a file to upload</label>
                    <input type="hidden" id="fileupload">
                    <button class=" btn btn-green" id="picker" type="button">Pick file</button>
                    <div id="thumbnail-container"></div>
                    <input type="hidden" name="profile_img" id="hidden-input">
                </div>
            </div>
        </div>
    </div>
    <div class="ready-btn-container">
        <button class="ready-btn" th:value="${event.id}"> Ready Up</button>
    </div>
</form>
<script th:inline="javascript">
    /*<![CDATA[*/
    const file = /*[[${fsKey}]]*/ 'default';
    const client = filestack.init(file);
    const options = {
        onUploadDone: updateForm,
        onUploadDone: (res) =>
            $('#hidden-input').val(`https://cdn.filestackcontent.com/${res.filesUploaded[0].handle}`),
        maxSize: 10 * 1024 * 1024,
        accept: 'image/*',
        uploadInBackground: false,
    };
    const picker = client.picker(options);

    const form = document.getElementById('pick-form');
    const fileInput = document.getElementById('fileupload');
    const btn = document.getElementById('picker');
    const nameBox = document.getElementById('nameBox');
    const urlBox = document.getElementById('urlBox');

    btn.addEventListener('click', function (e) {
        e.preventDefault();
        picker.open();
    });

    form.addEventListener('submit', function (e) {
        e.preventDefault();
        alert('Submitting: ' + fileInput.value);
    });

    function updateForm (result) {
        const fileData = result.filesUploaded[0];
        fileInput.value = fileData.url;

        if (['jpeg', 'png'].indexOf(fileData.mimetype.split('/')[1]) !== -1) {
            const container = document.getElementById('thumbnail-container');
            const thumbnail = document.getElementById('thumbnail') || new Image();
            thumbnail.id = 'thumbnail';
            thumbnail.src = client.transform(fileData.handle, {
                resize: {
                    width: 200
                }
            });

            if (!container.contains(thumbnail)) {
                container.appendChild(thumbnail);
            }
        }

        const name = document.createTextNode('Selected: ' + fileData.filename);
        const url = document.createElement('a');
        url.href = fileData.url;
        url.appendChild(document.createTextNode(fileData.url));
        nameBox.appendChild(name);
        urlBox.appendChild(document.createTextNode('Uploaded to: '));
        urlBox.appendChild(url);
    };

    /*]]>*/
</script>
</body>
</html>