<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/partials :: head('Create Event')">
</head>
<nav th:replace="fragments/partials :: navbar"/>

<body class="create-body">
<div class="create-title">
    <div class="create-container head1">
        <h1>Create An Event</h1>
    </div>
</div>
<form th:action="@{/event/create}" th:method="post" th:object="${event}" class="create-register-form">
    <div class="create-register-container">
        <th:block th:if="${timeError}">
            <span id="timeError" name="timeError" style="color: #ED1C24; font-size: 20px">* Can not create an event in the past.</span><br>
        </th:block>
        <div class="create-title-label">
            <div class="create-title-div">
                <label for="title">Title</label>
                <div class="create-email-input">
                    <span class="lock-icon"></span>
                    <input id="title" name="title" type="text" placeholder="Name of the Event" class="create-input-form"
                           th:field="*{title}">
                </div>
                <hr>
            </div>
            <div class="create-title-div">
                <label for="location">Location</label>
                <div class="create-email-input">
                    <span class="lock-icon"></span>
                    <input type="text" placeholder="Where will you play?" class="create-input-form"
                           th:field="*{location}" id="location">
                </div>
                <hr>
            </div>
        </div>
        <div class="create-username-label">
            <div class="create-sport-box">
                <label for="sport">Sport</label>
                <div class="create-email-input">
                    <select name="sport" id="sport" th:field="*{sport}" class="create-select" style="color: #03BFCB">
                        <option th:each="sport: ${sports}" th:text="${sport.name}" th:value="${sport.id}"></option>
                    </select>
                </div>
                <hr>
            </div>
            <div class="create-time-box">
                <label for="date">Date - Start Time</label>
                <div class="create-time-input">
                    <div class="create-date">
                        <input id="date" name="date" type="date" th:field="*{date}"  style="color-scheme: dark; color: #03BFCB">
                    </div>
                    <div class="create-time-slot">
                        <div class="create-start-time">
                            <label class="create-time-title" for="start-time"></label>
                            <input id="start-time" name="title" type="time" class="create-input-form"
                                   th:field="*{startTime}" style="color-scheme: dark; color: #03BFCB">
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="create-description-label">
            <label for="description">Description</label>
            <div class="create-description-input">
                <input id="description" type="text" placeholder="Describe the event"
                       class="create-description-form" th:field="*{description}">
            </div>
            <hr>
        </div>
    </div>

                <div id="image">
                    <label for="fileupload"></label>
                    <input type="hidden" id="fileupload">
                    <button class=" btn btn-green" id="picker" type="button" style="width: 100%; height: 100%; justify-content: center; align-items: center; font-size: .8em;margin-bottom: 20px; border: 1px solid white;border-radius: 2em"><img src="/img/file.png" alt="file" style="height: 16px;width: 16px; margin-bottom: 4px"> Upload Event Image</button>
                    <div id="thumbnail-container"></div>
                    <input type="hidden" name="profile_img" id="hidden-input">
                </div>
    <div class="edit-btn-container">
        <button class="edit-btn" th:value="${event.id}" type="submit">Create Event</button>
    </div>
<script th:inline="javascript">
    /*<![CDATA[*/
    const file = /*[[${fsKey}]]*/ 'default';
    const client = filestack.init(file);
    const options = {
        onUploadDone: updateForm,
        onUploadDone: (res) =>
            $('#hidden-input').val(`https://cdn.filestackcontent.com/${res.filesUploaded[0].handle}`),
        maxSize: 10 * 1024 * 1024,
        accept: 'image/*',
        uploadInBackground: false,
    };
    const picker = client.picker(options);

    const fileInput = document.getElementById('fileupload');
    const btn = document.getElementById('picker');
    const nameBox = document.getElementById('nameBox');
    const urlBox = document.getElementById('urlBox');

    btn.addEventListener('click', function (e) {
        e.preventDefault();
        picker.open();
    });


    function updateForm(result) {
        const fileData = result.filesUploaded[0];
        fileInput.value = fileData.url;

        if (['jpeg', 'png'].indexOf(fileData.mimetype.split('/')[1]) !== -1) {
            const container = document.getElementById('thumbnail-container');
            const thumbnail = document.getElementById('thumbnail') || new Image();
            thumbnail.id = 'thumbnail';
            thumbnail.src = client.transform(fileData.handle, {
                resize: {
                    width: 200
                }
            });

            if (!container.contains(thumbnail)) {
                container.appendChild(thumbnail);
            }
        }

        const name = document.createTextNode('Selected: ' + fileData.filename);
        const url = document.createElement('a');
        url.href = fileData.url;
        url.appendChild(document.createTextNode(fileData.url));
        nameBox.appendChild(name);
        urlBox.appendChild(document.createTextNode('Uploaded to: '));
        urlBox.appendChild(url);
    }

    /*]]>*/
</script>
</form>
</body>
</html>