<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/partials :: head('Player Profile')">
</head>
<nav th:replace="fragments/partials :: navbar"/>
<body class="edit-event-body">
<div class="edit-title">
    <h1>Enter New Information</h1>
</div>
<div class="edit-container">
    <form th:action="@{/event/{id}/edit (id = ${event.id})}" th:method="post" th:object="${event}" class="edit-form">
        <th:block th:if="${timeError}">
            <span id="timeError" name="timeError" style="color: red; font-size: 20px">* Can not create an event in the past.</span><br>
        </th:block>
        <div class="edit-label">
            <label for="title">New Title</label>
            <input type="text" id="title" placeholder="Title" th:field="*{title}">
        </div>
        <div class="edit-label">
            <label for="description">New Description</label>
            <input type="text" id="description" placeholder="Description" th:field="*{description}">
        </div>
        <div class="edit-label">
            <label for="location">New Address</label>
            <input type="text" id="location" placeholder="City, State" th:field="*{location}">
        </div>
        <div class="edit-label">
            <label for="startTime">New Start Time</label>
            <input type="time" id="startTime" placeholder="Start Time" th:field="*{startTime}">
        </div>
        <div class="edit-label">
            <label for="date">New Date</label>
            <input type="date" id="date" th:field="*{date}">
        </div>
        <div class="edit-label">
            <label for="sport">Sport</label>
            <select name="sport" id="sport" th:field="*{sport}">
                <option th:each="sport: ${sports}" th:text="${sport.name}" th:value="${sport.id}"></option>
            </select>
        </div>
        <div class="edit-btn-container">
            <button type="submit" th:value="${event.id}" name="id" class="edit-btn">Edit</button>
        </div>
    </form>
</div>
</body>
</html>