<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h3 th:text="${event.title}"></h3>
    <p th:text="${event.sport.name}"></p>
    <p th:text="${event.description}"></p>
    <p th:text="${event.location}"></p>
    <p th:text="${event.date}"></p>
    <span th:text="${event.startTime}"></span> - <span th:text="${event.endTime}"></span>
</div>
<br>
<form th:action="@{/event/{id} (id = ${event.id})}" th:method="post" th:object="${event}">
    <div>
        <input type="checkbox" th:value="${event.id}" id="attending" name="attending">
        <label for="attending">Want to attend event?</label><br>
        <button type="submit">Attend</button>
    </div>
</form>
</body>
</html>