<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/partials :: head('Player Profile')">
</head>
<body class="show-event-body">
<nav th:replace="fragments/partials :: navbar"/>
<body>
Compare event player id: <span th:text="${event.player.id}"></span>
User id: <span th:text="${#authentication.principal.id}"></span>
<div class="show-content-box">
    <div class="img-box" th:if="${event.eventPicUrl != null}">
        <img th:src="${event.eventPicUrl}" alt="event-image" class="img-show">
        <span th:text="${event.location}" class="show-location"></span>
    </div>
</div>
<div class="single-container">
    <!--        Event information-->
    <div class="event-info">
        <!--        First Row-->
        <div class="host-row">
            <div>
                <span><th:block th:switch="${event.date.substring(5,7)}">
                    <span th:case="01"
                          th:text="${'JAN' + '-' + event.date.substring(8,10) + '-' + event.date.substring(0,4)}"
                          class="card-text">Date: </span>
                    <span th:case="02"
                          th:text="${'FEB' + '-' + event.date.substring(8,10) + '-' + event.date.substring(0,4)}"
                          class="card-text">Date: </span>
                    <span th:case="03"
                          th:text="${'MAR' + '-' + event.date.substring(8,10) + '-' + event.date.substring(0,4)}"
                          class="card-text">Date: </span>
                    <span th:case="04"
                          th:text="${'APR' + '-' + event.date.substring(8,10) + '-' + event.date.substring(0,4)}"
                          class="card-text">Date: </span>
                    <span th:case="05"
                          th:text="${'MAY' + '-' + event.date.substring(8,10) + '-' + event.date.substring(0,4)}"
                          class="card-text">Date: </span>
                    <span th:case="06"
                          th:text="${'JUN' + '-' + event.date.substring(8,10) + '-' + event.date.substring(0,4)}"
                          class="card-text">Date: </span>
                    <span th:case="07"
                          th:text="${'JUL' + '-' + event.date.substring(8,10) + '-' + event.date.substring(0,4)}"
                          class="card-text">Date: </span>
                    <span th:case="08"
                          th:text="${'AUG' + '-' + event.date.substring(8,10) + '-' + event.date.substring(0,4)}"
                          class="card-text">Date: </span>
                    <span th:case="09"
                          th:text="${'SEP' + '-' + event.date.substring(8,10) + '-' + event.date.substring(0,4)}"
                          class="card-text">Date: </span>
                    <span th:case="10"
                          th:text="${'OCT' + '-' + event.date.substring(8,10) + '-' + event.date.substring(0,4)}"
                          class="card-text">Date: </span>
                    <span th:case="11"
                          th:text="${'NOV' + '-' + event.date.substring(8,10) + '-' + event.date.substring(0,4)}"
                          class="card-text">Date: </span>
                    <span th:case="12"
                          th:text="${'DEC' + '-' + event.date.substring(8,10) + '-' + event.date.substring(0,4)}"
                          class="card-text">Date: </span>
                </th:block></span>
            </div>
            <div>
                <span> Host: <span th:text="${event.player.username}"></span></span>
            </div>
        </div>

    </div>

    <div class="show-content-2">
        <div class="show-edit">
            <th:block sec:authorize="isAuthenticated()">
                <div th:if="${event.player.id == #authentication.principal.id}" class="edit-delete">
                    <a th:href="@{/event/{id}/edit (id = ${event.id})}" th:value="${event.id}" type="button"
                       th:name="edit"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a th:href="@{/event/{id}/delete (id = ${event.id})}" th:value="${event.id}" type="button"
                       th:name="delete"> <i class="fa-solid fa-trash"></i></a>
                    <a th:href="@{/event/{id}/upload (id = ${event.id})}" th:value="${event.id}" type="button"
                       th:name="upload"><i class="fa-solid fa-circle-plus"></i></a>
                </div>
            </th:block>
        </div>
        <h2 th:text="${event.title}"></h2>
        <h6 th:text="${event.description}" id="description" class="desc-box"></h6>
        <div class="sport-row">
            <div>
                <span th:text="${event.sport.name}"></span>
            </div>
            <div>
                <span> Start:
                    <th:block th:switch="${event.startTime.substring(0,2)}">
                        <span th:case="00" th:text="${'12:' + event.startTime.substring(3,5) + ' AM'}"
                              class="card-text">Time: </span>
                        <span th:case="01" th:text="${'1:' + event.startTime.substring(3,5) + ' AM'}" class="card-text">Time: </span>
                        <span th:case="02" th:text="${'2:' + event.startTime.substring(3,5) + ' AM'}" class="card-text">Time: </span>
                        <span th:case="03" th:text="${'3:' + event.startTime.substring(3,5) + ' AM'}" class="card-text">Time: </span>
                        <span th:case="04" th:text="${'4:' + event.startTime.substring(3,5) + ' AM'}" class="card-text">Time: </span>
                        <span th:case="05" th:text="${'5:' + event.startTime.substring(3,5) + ' AM'}" class="card-text">Time: </span>
                        <span th:case="06" th:text="${'6:' + event.startTime.substring(3,5) + ' AM'}" class="card-text">Time: </span>
                        <span th:case="07" th:text="${'7:' + event.startTime.substring(3,5) + ' AM'}" class="card-text">Time: </span>
                        <span th:case="08" th:text="${'8:' + event.startTime.substring(3,5) + ' AM'}" class="card-text">Time: </span>
                        <span th:case="09" th:text="${'9:' + event.startTime.substring(3,5) + ' AM'}" class="card-text">Time: </span>
                        <span th:case="10" th:text="${'10:' + event.startTime.substring(3,5) + ' AM'}"
                              class="card-text">Time: </span>
                        <span th:case="11" th:text="${'11:' + event.startTime.substring(3,5) + ' AM'}"
                              class="card-text">Time: </span>
                        <span th:case="12" th:text="${'12:' + event.startTime.substring(3,5) + ' PM'}"
                              class="card-text">Time: </span>
                        <span th:case="13" th:text="${'1:' + event.startTime.substring(3,5) + ' PM'}" class="card-text">Time: </span>
                        <span th:case="14" th:text="${'2:' + event.startTime.substring(3,5) + ' PM'}" class="card-text">Time: </span>
                        <span th:case="15" th:text="${'3:' + event.startTime.substring(3,5) + ' PM'}" class="card-text">Time: </span>
                        <span th:case="16" th:text="${'4:' + event.startTime.substring(3,5) + ' PM'}" class="card-text">Time: </span>
                        <span th:case="17" th:text="${'5:' + event.startTime.substring(3,5) + ' PM'}" class="card-text">Time: </span>
                        <span th:case="18" th:text="${'6:' + event.startTime.substring(3,5) + ' PM'}" class="card-text">Time: </span>
                        <span th:case="19" th:text="${'7:' + event.startTime.substring(3,5) + ' PM'}" class="card-text">Time: </span>
                        <span th:case="20" th:text="${'8:' + event.startTime.substring(3,5) + ' PM'}" class="card-text">Time: </span>
                        <span th:case="21" th:text="${'9:' + event.startTime.substring(3,5) + ' PM'}" class="card-text">Time: </span>
                        <span th:case="22" th:text="${'10:' + event.startTime.substring(3,5) + ' PM'}"
                              class="card-text">Time: </span>
                        <span th:case="23" th:text="${'11:' + event.startTime.substring(3,5) + ' PM'}"
                              class="card-text">Time: </span>
                    </th:block>
                </span>
            </div>
            <div>
                <i class="fa-solid fa-user"></i> <span th:text="${event.getPlayersAttending()}"></span>
            </div>
            <div class="edit-weather">
                <div>
                    <div id='map' style='width: 20em; height: 20em; border-radius: 100%'></div>
                </div>
                <div id="weather" style="visibility: hidden">
                    <section id="cards" style="margin: 1em 0em;">
                        <div class="card" id="day-1"
                             style=" margin-right: 1em; background: transparent; color: white; border: none; backdrop-filter: blur(3px); text-align: center">
                            <div class="card-header"
                                 style="font-weight: bold; background: transparent; color: white; border: none; backdrop-filter: blur(3px); text-align: center">
                                Featured
                            </div>
                            <ul class="list-group list-group-flush"
                                style="background: transparent; color: white; border: none; backdrop-filter: blur(3px); text-align: center">
                                <li class="list-group-item"
                                    style="background: transparent; color: white; border: none; backdrop-filter: blur(3px); text-align: center">
                                </li>
                                <li class="list-group-item"
                                    style="background: transparent; color: white; border: none; backdrop-filter: blur(3px); text-align: center">
                                    A second item
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="comment-box">
                <div class="comment-submit">
                    <form th:action="@{/comment/{id}/create (id = ${event.id})}" th:method="post" th:object="${comment}">
                        <input placeholder="Comment" id="comment" th:field="*{description}">
                        <button type="submit" class="comment-btn">Submit</button>
                    </form>
                </div>
                <div class="comment-display">
                    <div th:each="comment: ${event.comments}">
                        <span th:text="${comment.player.username}"></span>
                        <span th:text="${comment.description}"></span>
                        <div th:if="${comment.player.id == #authentication.principal.id or comment.event.player.id == #authentication.principal.id}">
                            <a th:href="@{/comment/{id}/delete (id = ${comment.id})}" th:method="get"
                               th:value="${comment.id}" type="button" th:name="deleteComment">Delete</a>
                        <hr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-start-container">
                <div th:if="${event.player.id == #authentication.principal.id}">
                    <div th:if="${event.started == true}">
                        <div th:if="${event.confirmed == false}">
                            <form th:action="@{/event/{id}/start (id = ${event.id})}" th:method="get">
                                <button type="submit" class="event-start-btn">Start Event</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${event.player.id != #authentication.principal.id}">
        <div th:if="${eventPlayerUsernames.contains(#authentication.principal.username) == false}">
            <div th:if="${event.started == false}">
                <form th:action="@{/event/{id}/attend (id = ${event.id})}" class="attend-form" th:method="post"
                      th:object="${event}">
                    <div class="attend-box">
                        <input type="checkbox" th:value="${event.id}" id="attending" name="attending">
                        <label for="attending"><h2>Want to attend event?</h2></label><br>
                    </div>
                    <div>
                        <button type="submit" class="attend-btn">Attend</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:object="${event}">
        <div th:each="player: ${event.getPlayers()}">
            <h5 th:text="${player.username}"></h5>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<! [CDATA[*/
    const mapboxKey = /*[[${mbKey}]]*/ 'default';
    const geocodeLoc = /*[[${geocodeLoc}]]*/ 'default';
    const wKey = /*[[${wKey}]]*/ 'default';
    const eventDate = /*[[${eventDate}]]*/ 'default';
    /*]]>*/
</script>
<script th:src="@{/js/mapbox.js}"></script>
</body>
</html>