<!doctype html>


<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/partials :: head('Forgot Password')">
    <title>Forgot Password</title>
</head>
<body class="body1">
<nav th:replace="fragments/partials :: navbar"/>
<div class="sign-container1">
    <div class="sign-text1">
        <h1>Forgot Your Password?</h1>
    </div>
</div>
<div class="form-container1">

    <form class="signin-form1" th:action="@{/forgot-password}" th:method="post">
        <span class="font2">Enter registered email address </span>
        <br>
        <hr>
        <div class="signin-container1">
            <div th:if="${param.error}">
                <span style="color: red; font-size: 20px">* Invalid username or password.</span>
            </div>

            <div class="email-label1">
                <label for="username">Username</label>
                <div class="email-input1">
                    <span class="envelope-icon"><i class="fa-solid fa-user"></i></span>
                    <input id="username" name="username" type="text" placeholder="Enter Username" class="input-form1">
                </div>
                <hr>
            </div>

            <div class="email-label1">
                <label for="username">Email</label>
                <div class="email-input1">
                    <span class="envelope-icon"><i class="fa-regular fa-envelope"></i></span>
                    <input id="password" name="email" type="email" placeholder="Email" class="input-form1">
                </div>
                <hr>
            </div>
        </div>
        <div class="button-container1">
            <div>
                <button type="submit" class="login-btn1">Reset Password</button>
            </div>
            <br>
            <br>
        </div>
    </form>
</div>
</body>
</html>

