
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/partials :: head('Player Profile')">

    <title>Forgot Password</title>
</head>

<body class="reset-body">
<nav th:replace="fragments/partials :: navbar"/>
<div class="forgot-container">
    <div class="logo-title">
        <img src="" th:src="@{img/black-back.png}" height="200" width="200" alt="">
    </div>
    <div class="form_container">
        <div class="fontcolor">
            <span class="fontcolor "> Forgot Your Password?</span>
            <br>
            <span class="font2">Enter email address registered to the account</span>
            <form class="login" th:action="@{/forgot-password}" th:method="post">
                <div class="login__field" >
                    <div class="email_field">
<!--                        <label for="username" class="label-email">Username</label>-->
                        <div class="button">
                            <input type="text" class="login__input" placeholder="Username" id="username" name="username">
                        </div>
                    </div>
                    <div class="email_field">
<!--                        <label for="email" class="label-email">Email......</label>-->
                        <div class="button">
                            <input type="email" class="login__input" placeholder="Email" id="email" name="email">
                        </div>
                    </div>
                </div>
                <div class="button">
                    <button class="login__submit">
                        <span class="">Reset Password</span>
                    </button>
                </div>
<!--                <div class="button">-->
<!--                    <button type="button" class="login__submit">Sign-up</button>-->
<!--                </div>-->
            </form>
        </div>
    </div>
</div>

</body>
</html>