<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/partials :: head('Player Profile')">
</head>
<body class="body1">
<nav th:replace="fragments/partials :: navbar"/>
<div class="sign-container1">
    <div class="sign-text1">
        <h1>Sign-in to play</h1>
    </div>
</div>
<div th:if="${param.error}">
    Invalid Username and Password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<div class="form-container1">
    <form th:action="@{/login}" method="post" class="signin-form1">
        <div class="signin-container1">
            <div class="email-label1">
                <label for="username">Username</label>
                <div class="email-input1">
                    <span class="envelope-icon"><i class="fa-regular fa-envelope"></i></span>
                    <input id="username" name="username" type="text" placeholder="Enter Username" class="input-form1">
                </div>
                <hr>
            </div>
            <div class="password-label1">
                <label for="password">Password</label>
                <div class="password-input1">
                    <span class="lock-icon"><i class="fa-regular fa-id-card"></i></span>
                    <input id="password" name="password" type="password" placeholder="Enter Password"
                           class="input-form1">
                </div>
                <hr>
            </div>
        </div>
        <div class="sign-lower1">
            <div>
                <a class="forgot-pass1" href="/sign-up">Need An Account?</a>
            </div>
            <div>
                <a class="forgot-pass1" href="/forgot-password">Forgot Password?</a>
            </div>
        </div>
        <div class="button-container1">
            <div>
                <button type="submit" class="login-btn1">Login</button>
            </div>
            <br>
            <br>
        </div>
    </form>
</div>
</body>
</html>