<!--<!doctype html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"-->
<!--      xmlns="http://www.w3.org/1999/html">-->
<!--<head th:replace="fragments/partials :: head('Player Profile')">-->
<!--</head>-->
<!--<body class="body1">-->
<!--<nav th:replace="fragments/partials :: navbar"/>-->
<!--<div class="sign-container1">-->
<!--    <div class="sign-text1">-->
<!--        <h1>Sign-in to play</h1>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="form-container1">-->
<!--    <form th:action="@{/login}" method="post" class="signin-form1">-->
<!--        <div class="signin-container1">-->
<!--            <div th:if="${param.error}">-->
<!--                <span style="color: red; font-size: 20px">* Invalid username or password.</span>-->
<!--            </div>-->
<!--            <div th:if="${param.logout}">-->
<!--                <span style="color: red; font-size: 20px">* You have been logged out.</span>-->
<!--            </div>-->
<!--            <div class="email-label1">-->
<!--                <label for="username">Username</label>-->
<!--                <div class="email-input1">-->
<!--                    <span class="envelope-icon"><i class="fa-solid fa-user"></i></span>-->
<!--                    <input id="username" name="username" type="text" placeholder="Enter Username" class="input-form1">-->
<!--                </div>-->
<!--                <hr>-->
<!--            </div>-->
<!--            <div class="password-label1">-->
<!--                <label for="password">Password</label>-->
<!--                <div class="password-input1">-->
<!--                    <span class="lock-icon"><i class="fa-regular fa-id-card"></i></span>-->
<!--                    <input id="password" name="password" type="password" placeholder="Enter Password"-->
<!--                           class="input-form1">-->
<!--                </div>-->
<!--                <hr>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="sign-lower1">-->
<!--            <div>-->
<!--                <a class="forgot-pass1" href="/sign-up" style="text-decoration: none; color: #03BFCB">Need An Account?</a>-->
<!--            </div>-->
<!--            <div>-->
<!--                <a class="forgot-pass1" href="/forgot-password" style="text-decoration: none; color: #03BFCB;">Forgot Password?</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="button-container1">-->
<!--            <div>-->
<!--                <button type="submit" class="login-btn1">Login</button>-->
<!--            </div>-->
<!--            <br>-->
<!--            <br>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->





<!--///////OLD PAGE///////////////-->
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<!--<head>-->

<!--    <link rel="stylesheet" href="" th:href="@{css/password.css}">-->
<!--    <title>New Password</title>-->
<!--</head>-->

<!--<body>-->

<!--<div class="forgot-container">-->
<!--    <div class="logo-title">-->
<!--        <img src="" th:src="@{img/black-back.png}" height="300" width="300" alt="">-->
<!--    </div>-->
<!--    <div class="form_container">-->
<!--        <div class="fontcolor">-->
<!--            <span class="fontcolor "> Enter a new password?</span>-->
<!--            <br>-->
<!--            <span class="font2">This will be your new Password</span>-->
<!--            <form class="login">-->
<!--                <div class="login__field" >-->
<!--                    <div class="email_field">-->
<!--                        <label for="username" class="label-email">New Password</label>-->
<!--                        <div class="button">-->
<!--                            <input type="email" class="login__input" placeholder="Password" id="username">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="button">-->
<!--                    <button class="login__submit">-->
<!--                        <span class="">Set New Password</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--</body>-->
<!--</html>>-->