<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/partials :: head('Player Profile')" />
<body>
<nav th:replace="fragments/partials :: navbar" />
<h1>Player Profile</h1>
        <div>
            <h6 th:text="${player.id}"></h6>
            <h6 th:text="${player.username}"></h6>
            <h6 th:text="${player.password}"></h6>
            <h6 th:text="${player.email}"></h6>
            <h6 th:text="${player.firstName}"></h6>
            <h6 th:text="${player.lastName}"></h6>
        </div>
        <div th:object="${player}">
            <div th:each="event: ${player.getAttendingEvents()}">
                <h5 th:text="${event.title}"></h5>
            </div>
        </div>

<!-- Bootstrap Bundle with Popper -->

<!--Personal custom JS script-->

</body>
</html>

