<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/partials :: head('Player Profile')">

</head>
<body id="body">
<nav th:replace="fragments/partials :: navbar"/>
<div id="card-2">
    <div id="card-1">
        <h1 id="title"></h1>
        <div th:if="${player.profilePicUrl != null}">
            <img th:src="${player.profilePicUrl}" alt="profile-picture"
                 style="height: 120px;width: 120px;border-radius: 100%">
            <br>
        </div>
        <br>
        <div>
            <div id="container">
                <h6 th:text="${player.firstName} + ' ' + ${player.lastName}"></h6>
                <h6 th:text="'@' + ${player.username}"></h6>
            </div>

            <th:block sec:authorize="isAuthenticated()">
                <div th:if="${player.id == #authentication.principal.id}">
                    <a th:href="@{/profile/{id}/upload (id = ${player.id})}" th:value="${player.id}" type="button"
                       th:name="upload">Change Profile Picture</a>
                </div>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <div th:if="${player.id == #authentication.principal.id}">
                    <a th:href="@{/player/{id}/edit (id = ${player.id})}" th:value="${player.id}" type="button"
                       th:name="edit">Edit Profile</a>
                </div>
            </th:block>
            <h5 class="fonts" style="text-decoration: underline">HOSTING:</h5>
            <div class="fonts" th:object="${player}">
                <div th:each="event: ${player.getEvents()}">
                    <a th:href="@{/event/{id} (id = ${event.id})}" th:text="'- ' + ${event.title}"
                       class="hover" style="color: black; text-decoration: none"></a>
                </div>
            </div>
            <h5 class="fonts" style="text-decoration: underline">ATTENDING:</h5>
            <div  class="fonts" th:object="${player}">
                <div th:each="event: ${player.getAttendingEvents()}">
                    <a th:href="@{/event/{id} (id = ${event.id})}" th:text="'- ' + ${event.title}"
                      class="hover" style="color: black; text-decoration: none" ></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap Bundle with Popper -->

<!--Personal custom JS script-->
</body>
</html>

