<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/partials :: head('Player Create')" />
<body>
<nav th:replace="fragments/partials :: navbar" />
<div class="container">
    <h1>Sign Up</h1>
    <div class="row">
        <div class="col-12">
            <form th:action="@{/sign-up}" th:method="post" th:object="${player}">
                <label class="form-label">username:</label>
                <input class="form-control" th:field="*{username}" required/>
                <label class="form-label" for="password">password:</label>
                <input name="password" id="password" type="password" class="form-control" th:field="*{password}" required />
                <span id="message"></span>
                <span id="message2"></span>
                <label class="form-label" for="confirm-password">confirm password:</label>
                <input name="confirm-password" id="confirm-password" type="password" class="form-control" required />
                <span id="message3"></span>
                <label class="form-label">email:</label>
                <input type="email" class="form-control" th:field="*{email}" required/>
                <label class="form-label">First Name:</label>
                <input class="form-control" th:field="*{firstName}" required/>
                <label class="form-label">Last Name:</label>
                <input class="form-control" th:field="*{lastName}" required/>
                <div class="black-trans-bg" style="height: 100vh">
                    <div id="inline" class="card sand-bg offset-1 col-10 mt-5 p-5">
                        <div id="image">
                            <label for="fileupload">Select a file to upload</label>
                            <input type="hidden" id="fileupload">
                            <button class=" btn btn-green" id="picker" type="button">Pick file</button>
                            <div id="thumbnail-container"></div>
                            <input type="hidden" name="profile_img"  id="hidden-input">
                        </div>
                    </div>
                </div>
                <input type="submit" />
            </form>

        </div>
    </div>
</div>

<script>
    function isAllPresent(str) {
        // Regex to check if a string
        // contains uppercase, lowercase
        // special character & numeric value
        let pattern = new RegExp(
            "^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[-+_!@#$%^&*.,?]).+$"
        );

        // If the string is empty
        // then print No
        if (!str || str.length === 0) {
            return "No";
        }

        // Print Yes If the string matches
        // with the Regex
        if (pattern.test(str)) {
            return "Yes";
        } else {
            return "No";
        }
    }

    $('#password').on('keyup',function () {
        console.log('hello');
        if ($('#password').val().length < 8) {
            $('#message').html('* Password is too short must be at least 8 characters.<br>').css('color', 'red');
        }
        else if ($('#password').val().length > 20) {
            $('#message').html('* Password is too long must be 20 or fewer characters.<br>').css('color', 'red');
        }
        else {
            $('#message').html('Password length is good.<br>').css('color', 'green');
        }
        if (isAllPresent($('#password').val()) === "No") {
            $('#message2').html('* Must contain lowercase, uppercase, number, and special character.<br>').css('color', 'red');
        }
        else {
            $('#message2').html('Password is strong.<br>').css('color', 'green');
        }
    })

    $('#confirm-password').on('keyup', function () {
        if ($('#password').val() !== $('#confirm-password').val()) {
            $('#message3').html('* Passwords do not match.<br>').css('color', 'red');
        }
        else {
            $('#message3').html('Passwords match.<br>').css('color', 'green');
        }
    })
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    const file = /*[[${fsKey}]]*/ 'default';
    const client = filestack.init(file);
    const options = {
        onUploadDone: updateForm,
        onUploadDone: (res) =>
            $('#hidden-input').val(`https://cdn.filestackcontent.com/${res.filesUploaded[0].handle}`) ,
        maxSize: 10 * 1024 * 1024,
        accept: 'image/*',
        uploadInBackground: false,
    };
    const picker = client.picker(options);

    const fileInput = document.getElementById('fileupload');
    const btn = document.getElementById('picker');
    const nameBox = document.getElementById('nameBox');
    const urlBox = document.getElementById('urlBox');

    btn.addEventListener('click', function (e) {
        e.preventDefault();
        picker.open();
    });

    function updateForm (result) {
        const fileData = result.filesUploaded[0];
        fileInput.value = fileData.url;

        if (['jpeg', 'png'].indexOf(fileData.mimetype.split('/')[1]) !== -1) {
            const container = document.getElementById('thumbnail-container');
            const thumbnail = document.getElementById('thumbnail') || new Image();
            thumbnail.id = 'thumbnail';
            thumbnail.src = client.transform(fileData.handle, {
                resize: {
                    width: 200
                }
            });

            if (!container.contains(thumbnail)) {
                container.appendChild(thumbnail);
            }
        }

        const name = document.createTextNode('Selected: ' + fileData.filename);
        const url = document.createElement('a');
        url.href = fileData.url;
        url.appendChild(document.createTextNode(fileData.url));
        nameBox.appendChild(name);
        urlBox.appendChild(document.createTextNode('Uploaded to: '));
        urlBox.appendChild(url);
    };
    /*]]>*/
</script>
</body>
</html>