body {
    background-image: url("../img/stadium-lights.jpg") !important;
    height: 100vh !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;

    display: grid !important;
    place-items: start !important;
}

div.card {
    display: grid !important;
    place-items: center !important;
    position: relative !important;
    background-color: rgba(255, 255, 255, 0.3) !important;
    box-shadow: 0 5px 15px; rgba(0, 0, 0, 0.5) !important;
    height: 250px !important;
    width: 650px !important;
    margin: 0 10em 0 2em !important;

}

.card-title {
    font-family: 'Rubik Distressed', cursive;
    text-outline: var(--primary);
    text-shadow: var(--third) 1px 0 10px;
    color: rebeccapurple;
}

.card-text {
    font-family: 'Roboto', sans-serif;
    text-outline: var(--primary);
    text-shadow: var(--third) 1px 0 10px;
    color: rebeccapurple;

}

