:root{
    --primary: hsla(0, 8%, 13%, 0.37) !important;
    --secondary: hsla(0, 0%, 0%, 0.36) !important;
    --third: hsla(181, 100%, 50%, 0.82) !important;
    --fourth: hsla(305, 100%, 59%, 0.78) !important;
    background-color: #000 !important;
}
::placeholder {
    color: var(--third) !important;
}

/* -----------------NAVBAR Customizations...START ----------------*/
.navbar-custom {
    width:100% !important;
    /*background: rgb(2,0,36) !important;*/
    /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(221,44,206,1) 56%, rgba(93,18,106,1) 100%, rgba(198,42,184,1) 100%, rgba(255,46,238,1) 100%, rgba(36,30,30,0.37) 100%) !important;*/
    background: rgb(2,0,36) !important;
    background: linear-gradient(90deg, rgba(2,0,36,1) 13%, rgba(221,44,206,1) 65%, rgba(221,44,206,1) 71%, rgba(29,6,57,1) 99%) !important;
}
.nav-link {
    font-size: 16px !important;
    color: var(--third) !important;
}

.btn-link {
    font-size: 16px !important;
    color: rgb(244, 21, 244) !important;
    text-decoration: none !important;
}

.search {
    outline-color: var(--primary) !important;
    background-color: var(--primary) !important;
}

.btn-outline-secondary {
    color: var(--third) !important;
    background-color: var(--primary) !important;
    outline-color: var(--primary) !important;
}

.no-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.dropdown-menu {
    background: rgb(2,0,36) !important;

}

.dropdown-item {
    color: var(--third) !important;
    font-size: 16px;

}

/* NAVBAR Customizations... END*/

/* ALL EVENTS styling Start */
body#allEvents{
    background-image: url("../img/stadium-lights.png") !important;
    height: 100vh !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;

    display: grid !important;
    place-items: start !important;
}
div.card {
    display: grid !important;
    place-items: center !important;
    position: static !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
    box-shadow: 0 6px 15px; rgba(112, 76, 142, 0.5) !important;
    backdrop-filter: blur(4px) !important;
    height: 200px !important;
    width: 750px !important;
    margin: 1em 10em 0 10em !important;
}

div.grid-container a {
    text-decoration: none !important;
}

div.grid-container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 100% !important;
}

.card-title {
    font-family: 'Barlow', sans-serif;;
    font-size: 2em;
    color: blanchedalmond;
}

.card-text {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    color: blanchedalmond;
    margin-bottom: 0;
}
/*************************** ALL EVENTS styling... END*/

/*************************** ABOUT US styling... START*/

body#aboutus {

    background-image: url("../img/aboutus-lights.png");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*************************** ABOUT US styling... END*/