:root{
    --primary: hsla(0, 8%, 13%, 0.37) !important;
    --secondary: hsla(0, 0%, 0%, 0.36) !important;
    --third: hsla(181, 100%, 50%, 0.82) !important;
    --fourth: hsla(305, 100%, 59%, 0.78) !important;
    background-color: #000 !important;

}
::placeholder {
    color: var(--third) !important;

}

/* -----------------NAVBAR Customizations...START ----------------*/
.navbar-custom {
    width:100% !important;
    font-family: Barlow, sans-serif !important;
    /*background: rgb(2,0,36) !important;*/
    /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(221,44,206,1) 56%, rgba(93,18,106,1) 100%, rgba(198,42,184,1) 100%, rgba(255,46,238,1) 100%, rgba(36,30,30,0.37) 100%) !important;*/
    background: rgb(2,0,36) !important;
    background: linear-gradient(90deg, rgba(2,0,36,1) 13%, rgba(221,44,206,1) 65%, rgba(221,44,206,1) 71%, rgba(29,6,57,1) 99%) !important;

}
.nav-link {
    font-size: 20px !important;
    color: var(--third) !important;

}

.btn-link {
    font-size: 20px !important;
    color: rgb(244, 21, 244) !important;
    text-decoration: none !important;

}

.search {
    outline-color: var(--primary) !important;
    background-color: var(--primary) !important;

}

.btn-outline-secondary {
    color: var(--third) !important;
    background-color: var(--primary) !important;
    outline-color: var(--primary) !important;

}

.no-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;

}

.dropdown-menu {
    background: rgb(2,0,36) !important;

}

.dropdown-item {
    color: var(--third) !important;
    font-size: 18px;

}

/* NAVBAR Customizations... END*/

/* ALL EVENTS styling Start */

body#allEvents{
    background-image: url("../img/stadium-lights.png") !important;
    height: 100vh !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    display: grid !important;
    place-items: start !important;
}

body#allEvents h5 {
    margin: 10px 0;
    text-decoration: none;
}

body#allEvents h6 {
    margin: 5px 0;
    text-transform: uppercase;
    text-decoration: none;
}

body#allEvents p {
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
}

.allevents-anchor {
    text-decoration: none;

}
.allevents-cards-container {
    display: flex;
    margin: 5em 0 0 0;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    text-decoration: none;
}

/*.top-cards-container {*/
/*    display: flex;*/
/*    margin: 5em;*/
/*    align-items: center;*/
/*    justify-content: space-evenly;*/
/*    flex-direction: column;*/
/*    width: 100%;*/
/*}*/

/*.bottom-cards-container {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-evenly;*/
/*    flex-direction: row;*/
/*    width: 100%;*/
/*}*/


.card-container-allevents {
    background-color: #231E39;
    border-radius: 5px;
    box-shadow: 0 6px 15px rgba(112, 76, 142, 0.5);
    color: #B3B8CD;
    padding-top: 30px;
    position: relative;
    width: 250px;
    height: 350px;
    max-height: 100%;
    max-width: 100%;
    text-align: center;

}

.card-container-allevents .round {
    border: 1px solid #03BFCB;
    border-radius: 50%;
    padding: 5px;
    height: 104px;
    /*background-position: center center;*/
    /*background-size: contain;*/
    object-fit: none;
}

span {
    text-align: left;
}
/*.grid-container{*/
/*    display: grid;*/
/*    background-color: rgba(0, 0, 0, 0.7);*/
/*    position: center;*/
/*    box-shadow: 1px 10px 15px rgba(112, 76, 142, 0.5);*/
/*    backdrop-filter: blur(6px);*/
/*    max-height: 50vh;*/
/*    max-width: 100vw;*/
/*    margin: 1em 10em 0 10em;*/
/*    border-radius: 10px;*/
/*    !*grid-template-columns: minmax(auto, 1fr);*!*/
/*    !*grid-template-rows: minmax(auto, 1fr);*!*/
/*    grid-gap: 20px;*/

/*    !*grid-template-areas:*!*/

/*    !*'a a a b b b b b e c'*!*/
/*    !*'a a a d d d d d d d'*!*/
/*    !*'a a a f f g g h h h';*!*/
/*    grid-template-areas:*/

/*    'a e . c'*/
/*    'a b b b'*/
/*    'a d d d'*/
/*    'a f g h';*/

/*}*/

/*.card-thumbnail {*/
/*    grid-area: a;*/
/*    background-repeat: no-repeat;*/
/*    background-attachment: fixed;*/
/*    background-position: 40% 40%;*/
/*    max-width: 20vw;*/
/*    height: 30vh;*/

/*}*/

/*h1.event-card-title {*/
/*    grid-area: b;*/
/*    width: 100%;*/
/*    font-family: 'Barlow', sans-serif;*/
/*    font-size: 2em;*/
/*    color: blanchedalmond;*/
/*    margin: 0 1em 0 0;*/

/*}*/

/*span.card-host {*/
/*    grid-area: c;*/
/*    display: flex;*/
/*    !*width: 100%;*!*/
/*    font-family: 'Barlow', sans-serif;*/
/*    font-size: 20px;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    color: blanchedalmond;*/

/*}*/

/*.card-description {*/
/*    grid-area: d;*/
/*    font-family: 'Barlow', sans-serif;*/
/*    font-size: 20px;*/
/*    color: blanchedalmond;*/
/*    max-width: 30vw;*/

/*}*/

/*.card-sport {*/
/*    grid-area: e;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/

/*}*/

/*span.card-text {*/
/*    text-decoration: none;*/
/*    font-family: 'Barlow', sans-serif;*/
/*    !*width: 100%;*!*/
/*    font-size: 20px !important;*/
/*    text-align: center !important;*/
/*    justify-content: center;*/
/*    color: blanchedalmond;*/

/*}*/

/*.card-date {*/
/*    grid-area: f;*/
/*    !*width: 100%;*!*/
/*    font-family: 'Barlow', sans-serif;*/
/*    font-size: 20px;*/
/*    text-align: left;*/
/*    color: blanchedalmond;*/

/*}*/

/*.card-start {*/
/*    grid-area: g;*/
/*    !*width: 100%;*!*/
/*    font-family: 'Barlow', sans-serif;*/
/*    font-size: 20px;*/
/*    text-align: center;*/
/*    color: blanchedalmond;*/

/*}*/

/*.card-location {*/
/*    grid-area: h;*/
/*    !*width: 100%;*!*/
/*    font-family: 'Barlow', sans-serif;*/
/*    font-size: 20px;*/
/*    color: blanchedalmond;*/
/*    display: flex;*/
/*    margin-right: 2em;*/

/*}*/

/*.event-cards {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    width: 100%;*/

/*}*/

/*.event-cards > a {*/
/*    width: 100%;*/
/*    text-decoration: none;*/

/*}*/


/*************************** ALL EVENTS styling... END*/

/*************************** ABOUT US styling... START*/

body#aboutus {

    background-image: url("../img/aboutus-lights.png");
    height: 100vh;
    min-height: available;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    font-family: Barlow, sans-serif;

}

body#aboutus * {
    /*box-sizing: border-box;*/
}

body#aboutus h3 {
    margin: 10px 0;
}

body#aboutus h6 {
    margin: 5px 0;
    text-transform: uppercase;
}


body#aboutus p {
    font-size: 14px;
    line-height: 21px;
}

.all-cards-container {
    display: flex;
    margin: 5em 0 0 0;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

.top-cards-container {
    display: flex;
    margin: 5em;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
}

.bottom-cards-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}


.card-container-about {
    background-color: #231E39;
    border-radius: 5px;
    box-shadow: 0 6px 15px rgba(112, 76, 142, 0.5);
    color: #B3B8CD;
    padding-top: 30px;
    position: relative;
    width: 250px;
    max-width: 100%;
    text-align: center;
}

.card-container-about .pro {
    color: #231E39;
    background-color: #FEBB0B;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.card-container-about .round {
    border: 1px solid #03BFCB;
    border-radius: 50%;
    padding: 7px;
    height: 96px;
    /*background-position: center center;*/
    /*background-size: contain;*/
    object-fit: cover;
}

.social-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: transparent;
    color: #231E39;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 5px 15px;
}

.skills {
    background-color: #1F1A36;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
}

.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills ul li {
    border: 1px solid #2D2747;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    margin: 0 7px 7px 0;
    padding: 7px;
}

/*************************** ABOUT US styling... END*/