
:root {
    --primary: hsl(305, 87%, 46%, 0.65);
    --secondary: hsl(181, 89%, 52%, 0.65);
}

body {

    min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, var(--primary), var(--secondary)),
    url("../img/background.jpg") no-repeat center center / cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

}


/*center log field vertically*/

.login {
    width: 320px;
    padding: 30px;
    padding-top: 156px;
}


.login__input {
    border: none;
    border-bottom: 4px solid #D1D1D4;
    background: none;
    font-weight: 700;
    width: 100%;
    transition: .2s;
    text-align: center;
    color: #d52c2c;
    font-size: large;
}


.login__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    align-items: center;
    width: 100%;
    color: #4C489D;
    box-shadow: 0px 2px 2px #5C5696;
    cursor: pointer;
    transition: .2s;
    text-align: center;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
    border-color: #6A679E;
    outline: none;
}


.fontcolor{
    text-align: center;
    color: #FFFFFF;
    font-size: xxx-large;

}
.font2{
    text-align: center;
    color: #CCCCCC;
    font-size: large;
}

