/************* START LOGIN CSS ***************/
.body1 {
    --primary: hsla(305, 96%, 59%, .30);
    --secondary: hsla(182, 90%, 35%, 0.36);
    min-height: 100vh;
    background: linear-gradient(45deg, var(--primary), var(--secondary)),
    url("../img/background.jpg") no-repeat center center / cover;
    overflow-y: hidden;
}

.sign-container1 {
    padding: 3em;
}

.sign-text1 {
    margin-left: 3em;
    font-size: xx-large;
    color: lightgray;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}

.form-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-form1 {
    width: 400px;
    font-size: large;
    border: lightgrey solid 1px;
}

.signin-container1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 2em;
    color: lightgray;
    font-size: xxx-large;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}

.email-label1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}

.password-label1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 1em;
}

.checkbox-form1 {
    height: 20px;
    width: 20px;
}

.sign-lower1 {
    display: flex;
    justify-content: space-between;
    font-size: 35px;
    color: lightgrey;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    margin-top: 1em;

}

.forgot-pass1 {
    border-bottom: 1px solid lightgrey;
    text-decoration: none;
}

.input-form1 {
    border: none;
    background: none;
    text-align: right;
    font-size: 20px;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-weight: bold;
    color: lightgrey;
    width: 100%;

}

hr {
    height: 1px !important;
    background: white !important;
    width: 100%;
}

.button-container1 {
    margin-top: 2em;
    width: 100%;
}

.login-btn1 {
    display: block;
    width: 100%;
    border: none;
    background: linear-gradient(45deg, var(--third), var(--fourth));
    padding: 15px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: white;
    border-radius: 35px;

}

.sign-up-btn1 {
    display: block;
    width: 100%;
    border: none;
    background-color: whitesmoke;
    padding: 25px 28px;
    font-size: 35px;
    cursor: pointer;
    text-align: center;
    border-radius: 35px;
}

.email-input1 {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 20px;
}

.password-input1 {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 20px;
}

.sign-container1 {
    margin: 0;
    padding: 0;
}

.sign-text1 {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}

.signin-container1 {
    margin: 0;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: larger;
    margin: 0;
}

.signin-form1 {
    margin: 1em;
    background: rgba(0, 0, 0, 0.5);
    padding: 2em;
    border-radius: 10px;
}

.button-container1 {
    margin-top: 3em;
}

.email-label1 {
    font-size: 20px;
}

.password-label1 {
    font-size: 30px;
}

.sign-lower1 {
    font-size: 20px;
}


.sign-logo1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/************* END LOGIN CSS ***************/

/************* START WELCOME CSS ***************/


.welcome-body {
    --primary: hsl(305, 87%, 46%, 0.30);
    --secondary: hsl(181, 89%, 52%, 0.30);
    min-height: 100vh;
    background: linear-gradient(135deg, var(--primary), var(--secondary)),
    url("../img/pexels-binyamin-mellish-140039.jpg") no-repeat center center / cover;
    overflow-y: hidden;
}

.welcome-title {
    display: flex;
    align-items: end;
    justify-content: center;
    top: 90%;
    margin-top: 10em;
}

.welcome-start-btn {
    display: flex;
    justify-content: center;
    align-items: center;

}

.welcome-login-btn {
    --third: hsl(181, 100%, 50%);
    --fourth: hsl(305, 100%, 59%);
    margin-top: 2em;
    border: none;
    background: linear-gradient(45deg, var(--third), var(--fourth));
    padding: 15px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    color: white;
    border-radius: 35px;
    width: 15%;
    text-decoration: none;
}

/************* END WELCOME CSS ***************/

/************* START CREATE EVENT CSS ***************/


.create-body {
    --primary: hsl(0, 9%, 13%);
    --secondary: hsla(0, 0%, 0%, 0.36);
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, var(--primary), var(--secondary)),
    url("../img/background.jpg") no-repeat center center / cover;
}

.create-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-upload-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0%);
    margin-top: 1em;
    padding: 2em 1em;
    color: white;
    border-radius: 10px;
    width: 800px;
}

#picker {
    color: lightgrey;

}

#picker:hover {
    color: black;
    background-color: lightgrey;

}

.create-title {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
}

.create-title-label {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.create-title-div {
    width: 40%;
}

.create-register-form {
    margin-left: 5em;
    margin-right: 5em;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.create-register-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: lightgray;
    font-size: xx-large;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    width: 800px;
    margin-top: 1em;
}

.create-email-label {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}

.create-username-label {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 1em;

}

.create-password-label {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.create-title {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.create-checkbox-form {
    height: 20px;
    width: 20px;
}

.create-sign-lower {
    display: flex;
    justify-content: space-between;
    font-size: 35px;
    color: lightgrey;
    font-family: 'Alumni Sans Pinstripe', sans-serif;

}

.create-forgot-pass {
    border-bottom: 1px solid lightgrey;
}

.create-input-form {
    border: none;
    background: none;
    font-size: 20px;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-weight: bold;
    color: lightgrey;
    width: 100%;
}

hr {
    height: 1px;
    background: white;
    width: 100%;
}

.create-button-container {
    margin-top: 3em;
    width: 100%;
}

.create-ready-btn {
    --third: hsla(181, 100%, 50%, 0.82);
    --fourth: hsla(305, 100%, 59%, 0.78);
    display: block;
    width: 100%;
    border: none;
    background: linear-gradient(45deg, var(--third), var(--fourth));
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    color: white;
    border-radius: 50px;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}

.create-email-input {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 20px;
}

.create-password-input {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 20px;
}

.create-account-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00FBFFD1;
    font-size: xx-large;
    margin-top: 2em;
}

.create-anchor-link {
    border-bottom: 1px solid #00FBFFD1;
}

.create-text-title {
    color: lightgray;
}

.create-select {
    border: none;
    color: lightgray;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: xx-large;
    direction: rtl;
    background: transparent;

}

#date {
    background: transparent;
    border: none;
    color: lightgrey;
}

.create-label-check {
    font-size: x-large;
}

.create-time-input {
    display: flex;
    justify-content: space-between;
    position: relative;

    top: 20px;
    font-size: x-large;
    margin-top: 11px;
}

.create-time-input {
    background: transparent;
}

.create-description-form {
    border: none;
    background: none;
    font-size: 20px;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-weight: bold;
    color: lightgrey;
    width: 100%;
    top: 20px;
}

.create-image-title {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    color: lightgrey;
    font-size: x-large;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


.create-upload-icon {
    justify-content: center;
    align-items: center;
    display: flex;
}

.create-ready-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.create-file {
    display: none;
}

.create-upload-label {
    cursor: pointer;
}

.create-upload-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    color: grey;
    font-size: xx-large;
}

.create-sport-box {
    width: 40%;
}

.create-time-slot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.create-start-time {
    display: flex;

}

.create-time-box {
    width: 40%;
}

.create-location-input {
    font-size: 48px;
    top: 50px;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    color: lightgrey;
}

.create-location-select {
    width: 70%;
    height: 50px;
    font-size: 40px;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    background-color: transparent;
    border: none;
    color: lightgrey;
}


/************* END CREATE EVENT CSS ***************/
/************* START SIGN-IN CSS ***************/


.sign-in-body {
    --primary: hsla(305, 96%, 59%, .30);
    --secondary: hsla(182, 90%, 35%, 0.36);
    min-height: 100vh;
    background: linear-gradient(45deg, var(--primary), var(--secondary)),
    url("../img/background.jpg") no-repeat center center / cover;
    overflow-y: hidden;
}

.signin-email-username {
    display: flex;
    justify-content: space-between;
}

.input-form2 {
    border: none;
    background: none;
    font-size: 18px;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-weight: bold;
    color: lightgrey;
    width: 100%;
}

#picker1 {
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    margin-bottom: 1em;
    background-color: black;
    padding: 2em;
}

.sign-in-submit {
    --third: hsla(181, 100%, 50%, 0.82);
    --fourth: hsla(305, 100%, 59%, 0.78);
    display: block;
    width: 100%;
    border: none;
    background: linear-gradient(45deg, var(--third), var(--fourth));
    padding: 2px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: white;
    border-radius: 50px;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}

.sign-in-title {
    margin-top: 1em;
    color: white;
}

#usernameError{
    color: red;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    border: red;
    padding: 5px;
    font-size: large;
    transition: 2s;
    left: 100%;
    animation: fadeIn 3s;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.73);
}
#passwordError{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    border: red;
    padding: 5px;
    font-size: large;
    transition: 2s;
    left: 100%;
    animation: fadeIn 3s;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.73);
}
#confirmError{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    border: red;
    padding: 5px;
    font-size: large;
    transition: 2s;
    left: 100%;
    animation: fadeIn 3s;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.73);
}
#emailError{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    border: red;
    padding: 5px;
    font-size: large;
    transition: 2s;
    top: -40px;
    left: -150px;
    animation: fadeIn 3s;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.73);
}

.password-error {
    display: flex;
    flex-direction: column;
    border: red;
    color: red;
    padding: 5px;
    position: absolute;
    font-size: large;
    transition: 2s;
    top: 44%;
    left: 62.5%;
    animation: fadeIn 3s;
    border-radius: 6px;
}

.confirm-error {
    display: flex;
    flex-direction: column;
    border: red;
    color: red;
    padding: 5px;
    position: absolute;
    font-size: large;
    transition: 2s;
    top: 58.5%;
    left: 62.5%;
    animation: fadeIn 3s;
    border-radius: 6px;
}

/************* END SIGN-IN CSS ***************/

/************* START SPORTS CSS ***************/
.gallery {
    --s: 16px; /* control the slanted part */
    display: grid;
    height: 350px;
    gap: 8px;
    grid-auto-flow: column;
    place-items: center;
    left: 10px;
}
.gallery > a {
    width: 0;
    min-width: calc(100% + var(--s));
    height: 0;
    min-height: 100%;
    object-fit: cover;
    clip-path: polygon(var(--s) 0,100% 0,calc(100% - var(--s)) 100%,0 100%);
    cursor: pointer;
    transition: .5s;
}
.gallery > a:hover {
    width: 15vw;
}
.gallery > a:first-child {
    min-width: calc(100% + var(--s)/2);
    place-self: start;
    clip-path: polygon(0 0,100% 0,calc(100% - var(--s)) 100%,0 100%);
}
.gallery > a:last-child {
    min-width: calc(100% + var(--s)/2);
    place-self: end;
    clip-path: polygon(var(--s) 0,100% 0,100% 100%,0 100%);
}
.gallery > a > img {
    width: 0;
    min-width: calc(100% + var(--s));
    height: 0;
    min-height: 100%;
    object-fit: cover;
    clip-path: polygon(var(--s) 0,100% 0,calc(100% - var(--s)) 100%,0 100%);
    cursor: pointer;
    transition: .5s;
}
.gallery > a >img:hover {
    width: 15vw;
}
.gallery >  a >img:first-child {
    min-width: calc(100% + var(--s)/2);
    place-self: start;
    clip-path: polygon(0 0,100% 0,calc(100% - var(--s)) 100%,0 100%);
}
.gallery > a > img:last-child {
    min-width: calc(100% + var(--s)/2);
    place-self: end;
    clip-path: polygon(var(--s) 0,100% 0,100% 100%,0 100%);
}

.sports-body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    align-content: center;
    background: url("../img/stadium-lights.png") no-repeat center center / cover;
}
.navbar-sport{
    display: flex;
    position: absolute;
    width: 100%;
}
/************* END SPORTS CSS ***************/
