<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/partials :: head('About us')" /></head>
<body id="aboutus">
<nav th:replace="fragments/partials :: navbar" />

    <div class="all-cards-container">

        <div class="card-container-about">
            <span class="pro">VET</span>
            <img class="round" th:src="@{../img/almeida-img.png}" alt="user" />
            <h3>Luis Almeida</h3>
            <h6><span style="font-size: 12px; line-height: 1.6" >Hometown: </span><br>New York, NY</h6>
            <p>Full Stack Developer</p>
            <div class="social-buttons">
                <div class="linkedin"><a href="https://www.linkedin.com/in/lalmeida5/">
                        <i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                    <div class="github"><a href="https://github.com/LAlmeida5">
                        <i class="fa-brands fa-github"></i></a>
                    </div>
                    <div class="codeup"><a href="https://alumni.codeup.com/students/1538">
                        <img th:src="@{/img/codeup.png}" style="height: 16px; width: 16px"></a>
                    </div>
                </div>
                <div class="skills">
                    <h6>Skills:</h6>
                    <ul>
                        <li>UI / UX</li>
                        <li>Spring Boot Framework</li>
                        <li>Git Version Control</li>
                        <li>JavaScript</li>
                        <li>Java</li>
                        <li>mySQL</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>

            <div class="card-container-about">
                <span class="pro">VET</span>
                <img class="round" th:src="@{../img/damon-img.png}" alt="user" />
                <h3>Damon Castillo</h3>
                <h6><span style="font-size: 12px; line-height: 1.6" >Hometown: </span><br>CHARLOTTE, NC</h6>
                <p>Full Stack Developer</p>
                <div class="social-buttons">
                    <div class="linkedin"><a href="https://www.linkedin.com/in/damon-castillo/">
                        <i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                    <div class="github"><a href="https://github.com/DamonCastillo">
                        <i class="fa-brands fa-github"></i></a>
                    </div>
                    <div class="codeup"><a href="https://alumni.codeup.com/students/1542">
                        <img th:src="@{/img/codeup.png}" style="height: 16px; width: 16px"></a>
                    </div>
                </div>
                <div class="skills">
                    <h6>Skills:</h6>
                    <ul>
                        <li>UI / UX</li>
                        <li>Spring Boot Framework</li>
                        <li>Git Version Control</li>
                        <li>JavaScript</li>
                        <li>Java</li>
                        <li>mySQL</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>

            <div class="card-container-about">
                <span class="pro">VET</span>
                <img class="round" th:src="@{../img/friend-img.png}" alt="user" />
                <h3>Michael Friend</h3>
                <h6><span style="font-size: 12px; line-height: 1.6" >Hometown: </span><br>DENVER, CO</h6>
                <p>Full Stack Developer</p>
                <div class="social-buttons">
                    <div class="linkedin"><a href="https://www.linkedin.com/in/michael-friend2/">
                        <i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                    <div class="github"><a href="https://github.com/mfriend2">
                        <i class="fa-brands fa-github"></i></a>
                    </div>
                    <div class="codeup"><a href="https://alumni.codeup.com/students/1533">
                        <img th:src="@{/img/codeup.png}" style="height: 16px; width: 16px"></a>
                    </div>
                </div>
                <div class="skills">
                    <h6>Skills:</h6>
                    <ul>
                        <li>UI / UX</li>
                        <li>Spring Boot Framework</li>
                        <li>Git Version Control</li>
                        <li>JavaScript</li>
                        <li>Java</li>
                        <li>mySQL</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>

            <div class="card-container-about">
                <span class="pro">VET</span>
                <img class="round" th:src="@{../img/peter-img.png}" alt="user" />
                <h3>Peter Le</h3>
                <h6><span style="font-size: 12px; line-height: 1.6" >Hometown: </span><br>MURPHY, TX</h6>
                <p>Full Stack Developer</p>
                <div class="social-buttons">
                    <div class="linkedin"><a href="https://www.linkedin.com/in/fierem/">
                        <i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                    <div class="github"><a href="https://github.com/PeterLe0349">
                        <i class="fa-brands fa-github"></i></a>
                    </div>
                    <div class="codeup"><a href="https://alumni.codeup.com/students/1540">
                        <img th:src="@{/img/codeup.png}" style="height: 16px; width: 16px"></a>
                    </div>
                </div>
                <div class="skills">
                    <h6>Skills:</h6>
                    <ul>
                        <li>UI / UX</li>
                        <li>Spring Boot Framework</li>
                        <li>Git Version Control</li>
                        <li>JavaScript</li>
                        <li>Java</li>
                        <li>mySQL</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>

            <div class="card-container-about">
                <span class="pro">VET</span>
                <img class="round" th:src="@{../img/sam-img.png}" alt="user" />
                <h3>Sam Martinez</h3>
                <h6><span style="font-size: 12px; line-height: 1.6" >Hometown: </span><br>SAN ANTONIO, TX</h6>
                <p>Full Stack Developer</p>
                <div class="social-buttons">
                    <div class="linkedin"><a href="https://www.linkedin.com/in/samuel-martinez-438a15ab/">
                        <i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                    <div class="github"><a href="https://github.com/samuelmartinez2">
                        <i class="fa-brands fa-github"></i></a>
                    </div>
                    <div class="codeup"><a href="https://alumni.codeup.com/students/1544">
                        <img th:src="@{/img/codeup.png}" style="height: 16px; width: 16px"></a>
                    </div>
                </div>
                <div class="skills">
                    <h6>Skills:</h6>
                    <ul>
                        <li>UI / UX</li>
                        <li>Spring Boot Framework</li>
                        <li>Git Version Control</li>
                        <li>JavaScript</li>
                        <li>Java</li>
                        <li>mySQL</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>
    </div>
</body>
</html>