<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/partials :: head('About us')" /></head>
<body id="aboutus">
<nav th:replace="fragments/partials :: navbar" />

<h1>Meet The Developers</h1>

    <div class="all-cards-container">
        <div class="top-cards-container">
            <div class="card-container-about">
                <span class="pro">VET</span>
                <img class="round" th:src="@{../img/almeida-img.png}" alt="user" />
                <h3>Luis Almeida</h3>
                <h6>New York, NY</h6>
                <p>UI / UX and <br/> Full Stack Developer</p>
                <div class="buttons">
                    <button class="primary">
                        GitHub
                    </button>
                    <button class="primary ghost">
                        LinkedIn
                    </button>
                </div>
                <div class="skills">
                    <h6>Skills:</h6>
                    <ul>
                        <li>UI / UX</li>
                        <li>Spring Boot Framework</li>
                        <li>Git Version Control</li>
                        <li>JavaScript</li>
                        <li>Java</li>
                        <li>mySQL</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>

            <div class="card-container-about">
                <span class="pro">VET</span>
                <img class="round" th:src="@{../img/damon-img.png}" alt="user" />
                <h3>Damon Castillo</h3>
                <h6>Charlotte, NC</h6>
                <p>UI / UX and <br/> Full Stack Developer</p>
                <div class="buttons">
                    <button class="primary">
                        GitHub
                    </button>
                    <button class="primary ghost">
                        LinkedIn
                    </button>
                </div>
                <div class="skills">
                    <h6>Skills:</h6>
                    <ul>
                        <li>UI / UX</li>
                        <li>Spring Boot Framework</li>
                        <li>Git Version Control</li>
                        <li>JavaScript</li>
                        <li>Java</li>
                        <li>mySQL</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>

            <div class="card-container-about">
                <span class="pro">VET</span>
                <img class="round" th:src="@{../img/friend-img.png}" alt="user" />
                <h3>Michael Friend</h3>
                <h6>Denver, CO</h6>
                <p>UI / UX and <br/> Full Stack Developer</p>
                <div class="buttons">
                    <button class="primary">
                        GitHub
                    </button>
                    <button class="primary ghost">
                        LinkedIn
                    </button>
                </div>
                <div class="skills">
                    <h6>Skills:</h6>
                    <ul>
                        <li>UI / UX</li>
                        <li>Spring Boot Framework</li>
                        <li>Git Version Control</li>
                        <li>JavaScript</li>
                        <li>Java</li>
                        <li>mySQL</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom-cards-container">
            <div class="card-container-about">
                <span class="pro">PRO</span>
                <img class="round" th:src="@{../img/peter-img.png}" alt="user" />
                <h3>Peter Le</h3>
                <h6>Murphy, TX</h6>
                <p>UI / UX and <br/> Full Stack Developer</p>
                <div class="buttons">
                    <button class="primary">
                        GitHub
                    </button>
                    <button class="primary ghost">
                        LinkedIn
                    </button>
                </div>
                <div class="skills">
                    <h6>Skills:</h6>
                    <ul>
                        <li>UI / UX</li>
                        <li>Spring Boot Framework</li>
                        <li>Git Version Control</li>
                        <li>JavaScript</li>
                        <li>Java</li>
                        <li>mySQL</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>

            <div class="card-container-about">
                <span class="pro">Vet</span>
                <img class="round" th:src="@{../img/sam-img.png}" alt="user" />
                <h3>Sam Martinez</h3>
                <h6>San Antonio, TX</h6>
                <p>UI / UX and <br/> Full Stack Developer</p>
                <div class="buttons">
                    <button class="primary">
                        GitHub
                    </button>
                    <button class="primary ghost">
                        LinkedIn
                    </button>
                </div>
                <div class="skills">
                    <h6>Skills:</h6>
                    <ul>
                        <li>UI / UX</li>
                        <li>Spring Boot Framework</li>
                        <li>Git Version Control</li>
                        <li>JavaScript</li>
                        <li>Java</li>
                        <li>mySQL</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>