<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/partials :: head('About us')" /></head>
<body id="aboutus">
<nav th:replace="fragments/partials :: navbar" />

<h1>Meet The Developers</h1>

<div class="card">
<!--    <img src="" th:src="@{../img/peter-img.png}" alt="" style="width:20em; height: 30em" >-->
    <div class="container">
        <h4><b>Peter Le</b></h4>
        <p>Software Developer</p>
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
</div>



</body>
</html>