:root{
    --primary: hsla(0, 8%, 13%, 0.37) !important;
    --secondary: hsla(0, 0%, 0%, 0.36) !important;
    --third: hsla(181, 100%, 50%, 0.82) !important;
    --fourth: hsla(305, 100%, 59%, 0.78) !important;
    background-image: url("../img/field-background.jpg") !important;
}

.card-body {
    margin-top: 20px !important;
    background-color: var(--primary) !important;


}