<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <link rel="stylesheet" href="" th:href="@{css/password.css}">
    <title>Forgot Password</title>
</head>

<body class="container">
<div class="container">
    <div class="screen__content">
        <span class="fontcolor"> Forgot Password?</span>
        <br>
        <span class="font2">please enter registered email</span>
        <form class="login">
            <div class="login__field">
                <input type="email" class="login__input" placeholder="Email">
            </div>
            <button class="button login__submit">
                <span class="">Reset Password</span>
            </button>
        </form>
    </div>
</div>
</body>

</html>