<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="" th:href="@{/css/welcome.css}">
</head>
<body>
<div class="title">
    <div class="container head1">
        <h1>Welcome</h1>
        <div class="sub-title">
            <h2>To</h2>
        </div>
    </div>
</div>
<div class="card">
    <div class="logo-title">
      <a href="/events"> <img src=""  th:src="@{/img/white-back.png}" alt="logo"></a>
    </div>
</div>

</body>
</html>>