<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/partials :: head('Player Profile')">
</head>
<body class="welcome-body">
<nav th:replace="fragments/partials :: navbar"/>
<div class="welcome-card">
    <div class="welcome-title">
        <img th:src="@{img/black-back.png}" height="350px" width="350px" alt="logo">
    </div>
    <div class="welcome-start-btn">
        <a href="/events" type="button" class="welcome-login-btn">Enter</a>
    </div>
</div>
</body>
</html>