<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/partials :: head('Homepage')">
</head>
<body class="welcome-body">
<nav th:replace="fragments/partials :: navbar"/>
<div class="wrapper-welcome">
    <div class="card-welcome">
        <img th:src="@{/img/create.jpg}" class="welcome-img">
        <div class="info-welcome">
            <h1 class="welcome-h1"> Create</h1>
            <p class="welcome-p"> Create an event and invite other enthusiasts who play the sport that you love!</p>
            <a class="welcome-btn" th:href="@{/event/create}">Create</a>
        </div>
    </div>
    <div class="card-welcome">
        <img th:src="@{/img/find.jpg}" class="welcome-img">
        <div class="info-welcome">
            <h1 class="welcome-h1"> Find </h1>
            <p class="welcome-p"> Find events hosted by other users that are happening in your area!</p>
            <a class="welcome-btn" th:href="@{/events}">Find</a>
        </div>
    </div>
    <div class="card-welcome">
        <img th:src="@{/img/join.jpg}" class="welcome-img">
        <div class="info-welcome">
            <h1 class="welcome-h1"> Join </h1>
            <p class="welcome-p"> Join a group that is ready to go and have fun playing with new friends!</p>
            <a class="welcome-btn" th:href="@{/events}">Join</a>
        </div>
    </div>
</body>
</html>
