<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <link rel="stylesheet" href="" th:href="@{css/password.css}">
    <title>New Password</title>
</head>

<body>

<div class="forgot-container">
    <div class="logo-title">
        <img src="" th:src="@{img/black-back.png}" height="300" width="300" alt="">
    </div>
    <div class="form_container">
        <div class="fontcolor">
            <span class="fontcolor "> Enter a new password?</span>
            <br>
            <span class="font2">This will be your new Password</span>
            <form class="login">
                <div class="login__field" >
                    <div class="email_field">
                        <label for="username" class="label-email">New Password</label>
                        <div class="button">
                            <input type="email" class="login__input" placeholder="Password" id="username">
                        </div>
                    </div>
                </div>
                <div class="button">
                    <button class="login__submit">
                        <span class="">Set New Password</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>>