<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=BhuTuka+Expanded+One&family=Montserrat:wght@100&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{css/signin.css}">
    <script src="https://kit.fontawesome.com/0304cf4152.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="sign-container">
    <div class="sign-logo">
        <img  src="" th:src="@{img/black-back.png}" height="400" width="500" alt="logo">
    </div>
    <div class="sign-text">
        <h1>Sign-in to play</h1>
    </div>
</div>
<form class="signin-form">
    <div class="signin-container">
        <div class="email-label">
            <label for="username">Username</label>
            <br>
            <div class="email-input">
                <span class="envelope-icon"><i class="fa-regular fa-envelope"></i></span>
                <input id="username" name="username" type="text" placeholder="Enter Username" class="input-form">
            </div>
            <hr>
        </div>
        <div class="password-label">
            <label for="password">Password</label>
            <br>
            <div class="password-input">
                <span class="lock-icon"><i class="fa-regular fa-id-card"></i></span>
                <input id="password" name="password" type="password" placeholder="Enter Password" class="input-form">
            </div>
            <hr>
        </div>
    </div>
    <div class="sign-lower">
        <div>
            <input id="remember" name="remember" type="checkbox" class="checkbox-form">
            <label for="remember">Remember me ?</label>
        </div>
        <div>
            <a class="forgot-pass">Forgot Password?</a>
        </div>
    </div>
    <div class="button-container">
        <div>
            <button type="button" class="login-btn">Login</button>
        </div>
        <br>
        <br>
        <div>
            <button type="button" class="sign-up-btn">Sign-up</button>
        </div>
    </div>
</form>
</body>
</html>